$primary: #ffbc7c !default;
$black: #000 !default;
$white: #fff !default;
$grey: #555 !default;
$bodycolor: #20293014 !default;
$lightblack: #353a49 !default;
$textshadow: #00000094 !default;
$gradient-overlay: rgba(0, 0, 0, 0.4);
$sans: "Source Sans Pro", sans-serif;
